# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml

# Eclipse
.settings/
.project
.classpath
.factorypath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Application
application-local.properties
application-secret.properties
